/*
**************************************
TITLE: Lab 4 - Main Page
AUTHOR: R Kelly Kuhn (RKK)
CREATE DATE: 20 March 2024
PURPOSE: The code repesents the CSS layout for the main page of Lab 3.
LAST MODIFIED ON: 4 April 2024
LAST MODIFIED BY: (RKK)
MODIFICATION HISTORY:
20 March 2024 - Created the basic css layout of this lab. (RKK)
26 March 2024 - Deleted everything I created to start over with a better plan
                for this assignment. I am going to setup different menus for
                customer names, image to manuplate, and new css style. (RKK)
4-April 2024 - Added comments to every line of code. (RKK)

**************************************
*/

#div1 { /* Styling for element with id "div1" */
    margin: auto; /* Center the element horizontally */
    text-align: center; /* Center text inside the element */
    border: 3px black dotted; /* Set border properties */
    font-size: 20px; /* Set font size */
    background: green; /* Set background color */
    height: 300px; /* Set height of the element */
    width: 300px; /* Set width of the element */
    position: relative; /* Set positioning to relative */
}

#div2 { /* Styling for element with id "div2" */
    margin: auto; /* Center the element horizontally */
    text-align: center; /* Center text inside the element */
    border: 3px black dotted; /* Set border properties */
    font-size: 20px; /* Set font size */
    background: yellow; /* Set background color */
    height: 300px; /* Set height of the element */
    width: 300px; /* Set width of the element */
    position: relative; /* Set positioning to relative */
}

#div3 { /* Styling for element with id "div3" */
    margin: auto; /* Center the element horizontally */
    text-align: center; /* Center text inside the element */
    border: 3px black dotted; /* Set border properties */
    font-size: 20px; /* Set font size */
    background: red; /* Set background color */
    height: 300px; /* Set height of the element */
    width: 300px; /* Set width of the element */
    position: relative; /* Set positioning to relative */
}
